<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
  <div>
    <h3>Khoá học đã xoá</h3>
    <a href="/me/stored/courses">Danh sách khoá học</a>
  </div>

  <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
    </div>

    <select class="form-control form-control-sm checkbox-select-all-options" name="action" required="true">
      <option value="">-- Hành động --</option>
      <option value="restore">Khôi phục</option>
      <option value="force-delete">Xoá vĩnh viễn</option>
    </select>

    <button class="btn btn-primary btn-sm check-all-submit-btn" data-toggle="modal" data-target="" disabled>Thực
      hiện</button>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col" colspan="2">#</th>
        <th scope="col">Tên khoá học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="3">Thời gian xoá</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
          </div>
        </td>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
          <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
        </td>
        <td>
          <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
            data-target="#delete-course-modal">Xoá vĩnh viễn</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Thùng rác trống.
          <a href="/me/stored/courses">Danh sách khoá học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{!-- Hidden delete form --}}
<form name="delete-course-form" method="POST">

</form>

{{!-- Hidden restore form --}}
<form name="restore-course-form" method="POST">

</form>


{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá khoá học vĩnh viễn?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục. Bạn vẫn muốn xoá khoá học này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Confirm delete course(s) using option --}}
<div id="delete-courses-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá khoá học vĩnh viễn?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục. Bạn vẫn muốn xoá những khoá học đã chọn?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-courses" type="button" class="btn btn-danger">Xoá vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var courseId;
    var btnDeleteCourse = document.getElementById('btn-delete-course');
    var deleteCourseForm = document.forms['delete-course-form'];
    var btnDeleteCourses = document.getElementById('btn-delete-courses');
    var restoreCourseForm = document.forms['restore-course-form'];
    var restoreBtn = $('.btn-restore');
    var confirmSubmit = false;
    // var containerForm = document.forms['container-form']; // cách select element bằng JS thuần
    var containerForm = $('form[name="container-form"'); // cách select element bằng dùng Jquery
    var checkboxSelectAllOptions = $('select.checkbox-select-all-options');
    var checkboxAll = $('#checkbox-all');
    var courseItemCheckbox = $('input[name="courseIds[]"]');
    var checkAllSubmitBtn = $('.check-all-submit-btn');


    //When dialog confirm clicked (tức là chỉ cần bấm nút nào trên cái modal hiện ra thì cũng chạy)
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('id'); // lấy được id
    });

    // xử lý khi bấm nút confirm delete -> xử lý form action dựa vào id đã có ở trên rồi submit luôn
    btnDeleteCourse.onclick = function () {
      deleteCourseForm.action = '/courses/' + courseId + '/force?_method=DELETE';
      deleteCourseForm.submit();
    }

    // Restore btn clicked
    restoreBtn.click(function (e) {
      e.preventDefault(); // ngăn thẻ a đổi hướng

      var courseId = $(this).data('id');
      restoreCourseForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
      restoreCourseForm.submit();
    });

    // when checkboxSelectAllOptions change
    checkboxSelectAllOptions.change(function (event) {
      var option = $(this).val();
      if (option == "force-delete") {
        checkAllSubmitBtn.attr('data-target', "#delete-courses-modal");
      }
      else {
        checkAllSubmitBtn.attr('data-target', "");
      }
    })

    //when delete courses form is submitted
    containerForm.on('submit', function (e) {
      if (!confirmSubmit && checkboxSelectAllOptions.val() == "force-delete") {
        e.preventDefault();
      }
    });

    btnDeleteCourses.onclick = function () {
      confirmSubmit = true;
      containerForm.submit();
    }


    //checkbox all changed
    checkboxAll.change(function () {
      var isCheckedAll = $(this).prop('checked');
      courseItemCheckbox.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn()
    });

    //Course item checkbox changed
    courseItemCheckbox.change(function () {
      var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
      checkboxAll.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn()
    });

    // Re-render Check all submit btn
    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name="courseIds[]"]:checked').length;
      if (checkedCount > 0) {
        checkAllSubmitBtn.attr('disabled', false);
      } else {
        checkAllSubmitBtn.attr('disabled', true);
      }
    }
  });
</script>